@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
@import 'colors.css';

body {
    background-color: var(--page-body-color) !important;
    font-family: "Regular 400 Italic" !important;
  }

.App {
  text-align: center;
}


/* .BookList ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 20px;
  line-height: 1; |* odstęp miedzy liniami *|
  margin: 80px;
  margin-bottom: 150px;
  border: 5px solid transparent;
  background-color: burlywood;
  border-color: tan;
} */

.App span {
  display: flex;
  justify-content: space-evenly;
}

/* button {
  cursor: pointer; |* kształt kursora na wskazujący *|
  font-weight: 600;
  white-space: nowrap; |*tekst nie łamie się na nowe linie *|
  border: 5px solid transparent;
  border-color: tan;
  padding: 10px 10px;
  font-size: 30px;
  border-radius: 5%;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
} */

/* button.add {
  background-color: #e83eBc;
  background-color: burlywood;
  color:  #000;
} */

.btn-primary {
  background-color: var(--button-background-color) !important;
  border-color: var(--button-border-color) !important;
  color: var(--button-text-color) !important;
}


.bottom-container {
  width: 760px;
  margin-left: 9.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
