header {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 46px;
    font-weight: bold;
    color: #f50808 !important;
    text-align: center;
    margin-bottom: 20px; /* Odstęp od innych elementów */
    text-transform: uppercase; /* Zmiana na wielkie litery */
}

.list-group-item {
    background-color: rgb(235, 9, 9) !important;
}

.list-group-item:hover {
    background-color: rgb(236, 6, 6) !important;
    cursor: pointer;
}